/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  #level-title {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    margin: 20px auto;
  }
  
  .pad {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 0.2s ease;
  }
  
  .pad:active {
    transform: scale(12.5rem);
    border: 5px solid #0a0a0a;
    box-shadow: 20 20 20px rgba(17, 17, 17, 0.8);
  }
  /* Highlight active pads with a glowing effect */

  
  #green {
    background-color: #4caf50;
  }
  
  #red {
    background-color: #f44336;
  }
  
  #yellow {
    background-color: #ffeb3b;
  }
  
  #blue {
    background-color: #2196f3;
  }
  
  #start-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #start-button:hover {
    background-color: #f2eeee;
  }
  